<app-alert *ngIf="miFormulario.invalid && miFormulario.touched"></app-alert>
<form
  autocomplete="off"
  class="form-group container"
  (ngSubmit)="agregar()"
  #miFormulario="ngForm"
>
  <div class="mt-2">
    <label for="proyecto">Proyecto</label>
    <input
      class="form-control"
      type="text"
      id="proyecto"
      placeholder="Nombre del Proyecto"
      required
      ngModel
      minlength="3"
      maxlength="15"
      name="proyecto"
    />
  </div>

  <div class="mt-2">
    <label for="tecnologia">Tecnologia</label>
    <label for="horas">Horas</label>
    <input
      class="form-control"
      type="number"
      id="horas"
      placeholder="Horas para completar"
      ngModel
      required
      min="0"
      max="24"
      name="horas"
    />
  </div>

  <div class="mt-2">
    <div class="row">
      <label for="tecnologia">Tecnologia</label>
      <div class="col-12 col-md-8">
        <input
          class="form-control"
          type="text"
          id="tecnologia"
          ngModel
          placeholder="Nombre de la tecnologia"
          name="tecnologia"
        />
      </div>
      <div class="col-12 col-md-4">
        <button class="btn btn-success">Agregar</button>
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-warning mt-2 w-100" type="submit">
      Agregar Proyecto
    </button>
  </div>
</form>

<pre>

    Proyecto: {{ miFormulario.value | json }}
    Valido: {{ miFormulario.valid | json }}
    Error: 
      proyecto:{{ miFormulario.controls["proyecto"]?.errors | json }}
      Horas: {{ miFormulario.controls["horas"]?.errors | json }}
</pre>
