<div class="row ">
    <div class="col-12 col-md-6 p-2 ">
        <h2>Pipes de texto</h2>
        <hr />
        <app-texto></app-texto>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de numeros</h2>
        <hr />
        <app-numeros></app-numeros>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de Fecha</h2>
        <hr />
        <app-fecha></app-fecha>
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>Pipes de JSON</h2>
        <hr />
        <app-json></app-json>
    </div>
</div>