<form autocomplete="off" class="form-group container">
    <div class="mt-2">
        <label for="proyecto">Proyecto</label>
        <input class="form-control" type="text" id="proyecto" placeholder="Nombre del Proyecto">
    </div>

    <div class="mt-2">
        <label for="horas">Horas</label>
        <input class="form-control" type="text" id="horas" placeholder="Horas para completar">
    </div>

    <div class="mt-2">
        <label for="tecnologia">Tecnologia</label>
        <input class="form-control" type="text" id="tecnologia" placeholder="Nombre de la tecnologia">
    </div>

    <div>
        <button class="btn btn-warning mt-2 w-100" type="submit">Agregar Proyecto</button>
    </div>
</form>