<form (ngSubmit)="navigate()" class="col s12" [formGroup]="formGroup">
  <div class="row">
    <div class="col s12" *ngIf="divTitleIsActive">
      <h3>{{ formName | uppercase }}</h3>
      <hr />
    </div>
    <div [class]="classDiv" *ngFor="let data of inputData">
      <input
        [id]="data.id"
        [type]="data.type"
        class="validate"
        [formControlName]="data.formControlNameForm"
      />
      <label [for]="data.id" [class]="classLabel">{{ data.label }}</label>

      <span
        *ngIf="data.hasValidator; else blockInfo"
        class="helper-text"
        data-error="Formato Invalido"
        data-success="Formato Valido"
      >
        {{ data.textSpan }}
      </span>

      <ng-template #blockInfo>
        <span class="helper-text">
          {{ data.textSpan }}
        </span>
      </ng-template>
    </div>

    <div class="input-field col s12">
      <a [routerLink]="routerLinkURL">{{ routerLinkName }}</a>
    </div>
    <app-button [textButon]="textButton"></app-button>
  </div>
</form>
