<div class="row">
  <div *ngFor="let proyecto of data" class="col-12 col-md-4">
    <div class="card mt-4 container p-2" style="max-width: 18rem">
      <img
        [src]="proyecto.img"
        class="card-img-top car-img"
        [alt]="proyecto.name"
      />
      <div class="card-body">
        <h5 class="card-title">{{ proyecto.name }}</h5>

        <div>
          <a target="_blank" [href]="proyecto.url" class="btn btn-warning w-100"
            >Visitar Aplicación</a
          >
        </div>
        <div class="mt-2">
          <a
            [routerLink]="'information/' + getURI(proyecto.name)"
            class="btn btn-info w-100"
            >Ver Detalles</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
